<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.daveberzack.test"
        versionCode = "10"
        version     = "1.1.0">

  <name>Hello Media</name>
  <description>A test of the Camera/Media APIs</description>
  <author href="http://daveberzack.com">Dave Berzack</author>
  
  <preference name="phonegap-version" value="3.6.3" />

  <gap:platform name="android" />

  <gap:plugin name="org.apache.cordova.camera" />
  <gap:plugin name="org.apache.cordova.media" />
  <gap:plugin name="org.apache.cordova.media-capture" />

</widget>